<% coupons.forEach( function(coupon) { %>
<div class="tile is-ancestor">
        <div class="tile is-6">
                <figure class="image ">
                <img src="<%=coupon.image %>" alt="Placeholder image">
                </figure>
        </div>
        <div class="tile">
                <div class="content">
                        <ul>
                          <li><strong><%=coupon.restaurant%></strong></li>
                          <li><strong><%=coupon.title%></strong></li>
                          <li> <strong>Coins:</strong> <%=coupon.coins%></li>
                          <li><strong>Address:</strong> <%= coupon.mall%>,<% coupon.region%></li>
                          <li> <strong>Valid Till:</strong> <%= coupon.date%></li>
                          <li><%=coupon.detail%></li>
                          <li> <button class="button is-primary" onclick="redeem('<%=coupon.id%>')">Redeem</button></li>
                        </ul>
                </div>
        </div> 
      </div>
      <% }); %>

      <script>
              async function redeem(id) {
        var r = confirm("Confirm Redeem?");
        var url = "redeem/" + id;
       alert(url)
        if (r) {
            var response = await fetch(url, {
                method: "post"
            });
            console.log(response)
            if (response.ok) {
                var html = await response.text();
                alert('123');
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };
      </script>
     