<% coupon.forEach( function(c){ %>
<form action="coupon/<%=c.id%>" method="POST" name="upda" onsubmit="return false">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input" name="title" value="<%=c.title%>" required>
          </div>
        </div>
        <div class="field">
          <label class="label">Restaurant</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input" name="restaurant" value="<%=c.restaurant%>" required>
          </div>
        </div>
  
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Region</label>
              <div class="control">
                <div class="select">
                  <select name="region">
                    <option>HK Island</option>
                    <option>Kowloon</option>
                    <option>New Territories</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Mall</label>
              <div class="control">
                <div class="select">
                  <select name="mall">
                    <option>IFC Mall</option>
                    <option>Pacific Place</option>
                    <option>Times Square</option>
                    <option>Elements</option>
                    <option>Harbour City</option>
                    <option>Festival Walk</option>
                    <option>MegaBox</option>
                    <option>APM</option>
                    <option>New Town Plaza</option>
                    <option> Tsuen Wan Plaza</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Image</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input" name="image" value="<%=c.image%>">
          </div>
        </div>
        <div class="field is-grouped">
                <div class="control">
                  <button class="button is-danger" onclick="del('<%=c.id%>')">Delete</button>
                </div>
              </div>

      </div>
      <div class="column">
        <div class="field">
          <label class="label">Quota</label>
          <div class="control">
            <input class="input" type="number" placeholder="Text input" name="quota" value="<%=c.quota%>" required>
          </div>
        </div>
  
        <div class="field">
          <label class="label">Coins</label>
          <div class="control">
            <input class="input" type="number" placeholder="Text input" name="coins" value="<%=c.coins%>" required>
          </div>
  
          <div class="field">
            <label class="label">Deal Valid Till</label>
            <div class="control">
              <input class="input" type="date" placeholder="Text input" name="date" value="<%=c.date%>">
            </div>
  
            <div class="field">
              <label class="label">Detail</label>
              <div class="control">
                <textarea class="textarea " placeholder="" rows="3" name="detail" ><%=c.detail%></textarea>
              </div>
            </div>
  
            <div class="field is-grouped">
                <p class="control">
                    <button class="button is-success" onclick="update(this,'<%=c.id%>')">
                      submit
                    </button>
                  </p>
            </div>
          </div>
  
        </div>
  </form>
  <script>
      async function del(id) {
        var r = confirm("Confirm Delete?");
        
        if (r) {
            var response = await fetch("/coupon/" + id, {
                method: "DELETE"
            });

            if (response.ok) {
              alert("Coupon deleted.");
              location.assign("/");
            } else {
                alert(response.status + ": " + response.statusText);
            }

        } else {
            alert("cancelled");
        }
    };
      
      

    async function update(formElem,id) {
      var r = confirm("Confirm Update?");
      if(r){
    var response = await fetch("coupon/"+id, {
    method: 'PUT',
    body: new FormData(formElem),
    });
  if (response.ok) {
    alert("Coupon updated.");
              location.assign("/");
  } else if (response.status == 401) {
    var msg = await response.json();
    alert(msg);
  } else {
    alert(response.statusText);
  }
}
};

  </script>
   <% }); %>